:root {
    --box-color: #242333;
    --background-color: #21202E;
    --input-color: #232231;
    --primary-color: #01B0D3;
    --secondary-color: #70a9a1;
    --text-color: #FFFFFF;
    --button-color: #49D49D;
    --button-hover-color: #27AD78;
    --error-color: #D7263D;

}

html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    background: var(--box-color);
    box-sizing: border-box;
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 50px;
}

.main h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    text-align: center;
}

.main h3 {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    color: var(--text-color);
    text-align: center;
}

.main p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.1rem;
    color: var(--text-color);
    text-align: left;
    text-decoration: none;
}

.main p a {
    color: var(--primary-color);
    text-decoration: none;
}

.main p a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.main .user-input {
    position: relative;
}

.main .user-input input {
    width: 100%;
    padding: 15px 0;
    color: var(--text-color);
    margin-bottom: 20px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: var(--background-color)
}

.main .user-input input:focus ~ label,
.main .user-input input:valid ~ label {
    top: -25px;
    left: 0px;
    font-size: 0.8rem;
}

.main .loginResult {
    color: var(--error-color);
    padding: none;
    margin: none;
}

#login {
    outline: 0;
    background: var(--button-color);
    width: 100%;
    border: 0;
    padding: 20px;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
}

#login:hover {
    background: var(--button-hover-color);
    transition: 0.25s;
    cursor: pointer;
}


form.example input[type=text] {
    width: 100%;
    padding: 15px 0;
    color: var(--text-color);
    margin-bottom: 20px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: var(--background-color)
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: var(--button-color);
    color: var(--text-color);
    font-size: 1rem;
    border: 0;
    border-left: none;
    cursor: pointer;
    outline: 0;
  }
  
  form.example button:hover {
    background: var(--button-hover-color);
    transition: 0.25s;
    cursor: pointer;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }